<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <style>
            .container {
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                padding: 0.5rem; /* p-2 equivalent */
            }

            @media (prefers-color-scheme: dark) {
                .container {
                    background-color: #000000;
                    color: #ffffff;
                }
            }
        </style>
    </head>
    <body class="container">
        <div>
            <cards-element></cards-element>
        </div>
        <script type="module" src="/static/app.js"></script>
    </body>
</html>
