
  <!doctype html>
  <html lang="en">
      <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>Document</title>
          <link rel="stylesheet" href="../style.css" />
      </head>
      <body class="container p-2 dark:bg-black dark:text-white">
        <div><input-element></input-element></div><div><cards-element></cards-element></div><script type="module" src="../input.ts"></script>
        <script type="module" src="../app.ts"></script>
      </body>
  </html>
  